<footer class="bg-light text-center text-lg-start" style="margin-top:20px">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">{{marco.name}}</h5>
  
          <p>
            Número - {{marco.id}} <br>
            Turma - {{marco.class}} <br>
            {{marco.course}}
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">{{simao.name}}</h5>
  
          <p>
            Número - {{simao.id}} <br>
            Turma - {{simao.class}} <br>
            {{simao.course}}
          </p>
        </div>
        <!--Grid column-->
      </div>
      <img src="../../assets/img/logo.png"><br>
      2020/2021 <br>
      <b>Ferramentas e Aplicações Multimédia</b>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>