// CORES
$azulBase: #0e243f;
$vermelhoTexto: rgb(129, 0, 0);
$azulTexto: rgb(9, 29, 145);
$bgSection: rgb(238, 236, 236);
$azulHover: #1b406e;
$bgGeral: cornflowerblue;
$bgBody: lightgray;
//$bgSection: white;


// TEXT
$tamanhoBase: 1.5em;
