<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">A sua música preferida a um clique.</h1>
    <p class="lead">Veja o nosso catálogo em baixo.</p>
  </div>
</div>

<div class="float-left">
  <app-aside *ngIf="display"></app-aside>
</div>

<div class="__gridcontainer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card border-dark text-center" style="width: 18rem;">
          <div class="card-header"><h5>ProfJam</h5></div>
          <img src="../../assets/img/profjam.jpg" class="__card-img-top" alt="...">
          <div class="card-body">
            <h6 class="mb-2">
              🌴
            </h6>

            <button (click)="onPress()" type="button" class="btn btn-info btn-sm mr-1 mb-1">
              ℹ️ — Discografia
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-dark text-center" style="width: 18rem;">
          <div class="card-header"><h5>Baby Keem</h5></div>
          <img src="../../assets/img/babykeem.jpg" class="__card-img-top" alt="...">
          <div class="card-body">
            <h6 class="mb-2">
              🔥
            </h6>

            <button type="button" class="btn btn-info btn-sm mr-1 mb-1">
              ℹ️ — Discografia
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-dark text-center" style="width: 18rem;">
          <div class="card-header"><h5>Kendrick Lamar</h5></div>
          <img src="../../assets/img/kendrick.jpg" class="__card-img-top" alt="...">
          <div class="card-body">
            <h6 class="mb-2">
              💯
            </h6>

            <button type="button" class="btn btn-info btn-sm mr-1 mb-1">
              ℹ️ — Discografia
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 10px;">
    <div class="row">
      <div class="col-sm">
        <div class="card border-dark text-center" style="width: 18rem;">
          <div class="card-header"><h5>Sheck Wes</h5></div>
          <img src="../../assets/img/Sheck-Wes-.jpg" class="__card-img-top" alt="...">
          <div class="card-body">
            <h6 class="mb-2">
              ⚽
            </h6>

            <button type="button" class="btn btn-info btn-sm mr-1 mb-1">
              ℹ️ — Discografia
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-dark text-center" style="width: 18rem;">
          <div class="card-header"><h5>Bryson Tiller</h5></div>
          <img src="../../assets/img/Bryson_Tiller.jpg" class="__card-img-top" alt="...">
          <div class="card-body">
            <h6 class="mb-2">
              🥑
            </h6>

            <button type="button" class="btn btn-info btn-sm mr-1 mb-1">
              ℹ️ — Discografia
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-dark text-center" style="width: 18rem;">
          <div class="card-header"><h5>J. Cole</h5></div>
          <img src="../../assets/img/j-cole.jpg" class="__card-img-top" alt="...">
          <div class="card-body">
            <h6 class="mb-2">
              ✨
            </h6>
            <button type="button" class="btn btn-info btn-sm mr-1 mb-1">
              ℹ️ — Discografia
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
