
.container-logo-nav1 {
    background-color: $azulBase;
    border-bottom: 3px solid darkred;
}

.container-main-aside {
    background-color: $bgGeral;
}

.container-footer {
    background-color: $azulBase;
}
