
// NAV 1

.nav1-list {

    width: 98%;
    margin:auto;
    height: 80%;
    margin-top: 1.5%;

    list-style-type: none;
    &__item {
        padding-top: 20px;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
        color: white;
    }
    &__link {
        color: white;
        &:hover {border: 1px dashed red}
    }
    &__find {
        width: 30px;
    }   
}



// NAV2

.nav2-list {
    &__item {
        display: inline-block;
        padding: 10px;
        font-size: $tamanhoBase;        
    }
    &__link {
        color: $azulBase;
        letter-spacing: -1px;
    }
    &__logo {
        width: 20px;
    }
}



// NAV3

.nav3-list {
    list-style-type: none;
    margin: 0% 5%;
    background-color: $azulBase;
    &__item {
        font-size: $tamanhoBase;
        text-align: center;
    }
    &__link {
        display: block;
        color: white;
        padding: 20px 0;
        &:hover {background-color: $azulHover; color: white; text-decoration: none;}
        &:active {background-color: $azulHover;}
    }
}



// NAV: 4

.nav4-list {
    width: 100%;
    font-size: $tamanhoBase;
    margin: 10px 0px;

    &__item {
        border-top: 1px solid lightgray;
    }
    &__link {
        display: block;
        padding: 5% 0;
        //color: rgb(105, 104, 104);
        color: gray;
        // Para evitar sensaÃ§Ã£o de movimento no hover
        border: 1px dashed $azulBase;
        &:hover {
            border: 1px dashed red;
            color: darkred;
        }
    }
}
